{% extends 'base.html' %}

{% load static %}

{% block title %}TRAM - Analyze Report{% endblock %}

{% block head %}
<script src="{% static 'js/summary.js' %}"></script>
<script type="text/javascript">
    const REPORT_ID = parseInt({{ report_info.id }});
</script>

{% endblock %}

{% block back-to-index-link %}
<a class="btn btn btn-outline-light" href="/">Close Report</a>
{% endblock %}

{% block body %}

<h3 class="display-4 text-center">{{ report_info.name }}</h3>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Overview
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col">
                        <div class="card shadow-sm">

                            <div class="card-body">
                                <h4 class="card-title">{{ report_info.name }}</h4>
                                <h5 class="card-subtitle mb-2 text-muted">Created on: {{ report_info.created_on }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Created by: {{ report_info.created_by }}</h6>

                                <p class="card-text">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="abstract-tab-1" data-bs-toggle="tab" data-bs-target="#abstract-tab-pane-1" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Abstract</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="keywords-tab-1" data-bs-toggle="tab" data-bs-target="#keywords-tab-pane-1" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Keywords</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="abstract-tab-pane-1" role="tabpanel" aria-labelledby="abstract-tab-1" tabindex="0" style="padding-top: 10px;">
                                            {{ report_abstract }}
                                        </div>
                                        <div class="tab-pane fade" id="keywords-tab-pane-1" role="tabpanel" aria-labelledby="keywords-tab-1" tabindex="0" style="padding-top: 10px;">

                                            <div class="row">
                                                <div class="col-2" style="margin: auto;">
                                                    <div class="list-group" id="list-tab" role="tablist">
                                                        {% with first_element_name="Verbs" %}
                                                            {% for keyword_name, values in report_keywords.items %}
                                                                {% if keyword_name == first_element_name  %}
                                                                    <a class="list-group-item list-group-item-action active" id="list-abstract-list"
                                                                        data-bs-toggle="list" href="#list-{{keyword_name}}" role="tab" aria-controls="list-abstract">{{keyword_name}}</a>
                                                                {% else %}
                                                                    <a class="list-group-item list-group-item-action" id="list-abstract-list"
                                                                        data-bs-toggle="list" href="#list-{{keyword_name}}" role="tab" aria-controls="list-abstract">{{keyword_name}}</a>
                                                                {% endif%}
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="tab-content" id="nav-tabContent">
                                                        {% with first_element_name="Verbs" %}
                                                            {% for keyword_name, values in report_keywords.items %}
                                                                {% if keyword_name == first_element_name  %}
                                                                    <div class="tab-pane fade show active" id="list-{{keyword_name}}" role="tabpanel" aria-labelledby="list-keywords-list">
                                                                {% else %}
                                                                    <div class="tab-pane fade" id="list-{{keyword_name}}" role="tabpanel" aria-labelledby="list-keywords-list">
                                                                {% endif %}
                                                                        <div style="margin-bottom: 15px;">
                                                                            <h6>{{k}}</h6>
                                                                            {% for v in values %}
                                                                                <button type="button" style="margin: 0px 5px 5px 0px;" class="btn btn-outline-primary" disabled> {{ v}} </button>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                Last modified: {{ report_info.updated_on}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Top 3 most likely groups or intrusion sets
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <b> All this information is consulted at {{ TAXII_server_info.title }}</b>.
                {{ TAXII_server_info.description }}
                You can contact with them on {{ TAXII_server_info.contact }}.

                <div >
                    <canvas id="myChart" style="max-height: 200px;"></canvas>
                  </div>

                <div class="album py-5 bg-light">
                    <div class="container">

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col" style="margin-top: 60px;">
                                <div class="card shadow-sm">

                                    <div class="card-body">
                                        <h4 class="card-title">2nd</h4>
                                        <h5 class="card-subtitle mb-2 text-muted">{{ top2_group.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Aliases: {{ top2_group.aliases }}</h6>

                                        <p class="card-text">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link active" id="description-tab-1" data-bs-toggle="tab" data-bs-target="#description-tab-pane-1" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Descripcion</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="goals-tab-1" data-bs-toggle="tab" data-bs-target="#goals-tab-pane-1" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Goals</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="information-tab-1" data-bs-toggle="tab" data-bs-target="#information-tab-pane-1" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">General info</button>
                                                </li>
                                              </ul>
                                              <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="description-tab-pane-1" role="tabpanel" aria-labelledby="description-tab-1" tabindex="0" style="padding-top: 10px;">{{ top2_group.description }}</div>
                                                <div class="tab-pane fade" id="goals-tab-pane-1" role="tabpanel" aria-labelledby="goals-tab-1" tabindex="0" style="padding-top: 10px;">{% if top2.group.goal %} {{top2.group.goal}} {% else %} Empty {% endif%}</div>
                                                <div class="tab-pane fade" id="information-tab-pane-1" role="tabpanel" aria-labelledby="information-tab-1" tabindex="0" style="padding-top: 10px;">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">ID: {{ top2_group.id }} </li>
                                                        <li class="list-group-item">Type: {{ top2_group.type }} </li>
                                                        <li class="list-group-item">Created: {{ top2_group.created }} </li>
                                                        <li class="list-group-item">Created by: {{ top2_group.created_by_ref }} </li>
                                                        <li class="list-group-item">Mitre domains: {{ top2_group.x_mitre_domains }} </li>
                                                        <li class="list-group-item">Mitre version: {{ top2_group.x_mitre_version }} </li>
                                                        <li class="list-group-item">Contributors: {% for contributor in top2_group.x_mitre_contributors %} {{ contributor }} {% endfor %}  </li>
                                                    </ul>
                                                </div>
                                              </div>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                        </div>
                                    </div>
                                    <div class="card-footer text-muted">
                                        Last modified: {{ top2_group.modified}}
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h4 class="card-title">1st</h4>
                                        <h5 class="card-subtitle mb-2 text-muted">{{ top1_group.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Aliases: {{ top1_group.aliases }}</h6>

                                        <p class="card-text">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link active" id="description-tab-2" data-bs-toggle="tab" data-bs-target="#description-tab-pane-2" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Descripcion</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="goals-tab-2" data-bs-toggle="tab" data-bs-target="#goals-tab-pane-2" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Goals</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="information-tab-2" data-bs-toggle="tab" data-bs-target="#information-tab-pane-2" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">General info</button>
                                                </li>
                                              </ul>
                                              <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="description-tab-pane-2" role="tabpanel" aria-labelledby="description-tab-2" tabindex="0" style="padding-top: 10px;">{{ top1_group.description }}</div>
                                                <div class="tab-pane fade" id="goals-tab-pane-2" role="tabpanel" aria-labelledby="goals-tab-2" tabindex="0" style="padding-top: 10px;">{% if top1.group.goal %} {{top1.group.goal}} {% else %} Empty {% endif%}</div>
                                                <div class="tab-pane fade" id="information-tab-pane-2" role="tabpanel" aria-labelledby="information-tab-2" tabindex="0" style="padding-top: 10px;">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">ID: {{ top1_group.id }} </li>
                                                        <li class="list-group-item">Type: {{ top1_group.type }} </li>
                                                        <li class="list-group-item">Created: {{ top1_group.created }} </li>
                                                        <li class="list-group-item">Created by: {{ top1_group.created_by_ref }} </li>
                                                        <li class="list-group-item">Mitre domains: {{ top1_group.x_mitre_domains }} </li>
                                                        <li class="list-group-item">Mitre version: {{ top1_group.x_mitre_version }} </li>
                                                        <li class="list-group-item">Contributors: {% for contributor in top1_group.x_mitre_contributors %} {{ contributor }} {% endfor %} </li>
                                                    </ul>
                                                </div>
                                              </div>
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        Last modified: {{ top1_group.modified}}
                                    </div>
                                </div>
                            </div>

                            <div class="col" style="margin-top: 100px;">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h4 class="card-title">3rd</h4>
                                        <h5 class="card-subtitle mb-2 text-muted">{{ top3_group.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Aliases: {{ top3_group.aliases }}</h6>

                                        <p class="card-text">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link active" id="description-tab-3" data-bs-toggle="tab" data-bs-target="#description-tab-pane-3" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Descripcion</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="goals-tab-3" data-bs-toggle="tab" data-bs-target="#goals-tab-pane-3" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Goals</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="information-tab-3" data-bs-toggle="tab" data-bs-target="#information-tab-pane-3" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">General info</button>
                                                </li>
                                              </ul>
                                              <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="description-tab-pane-3" role="tabpanel" aria-labelledby="description-tab-3" tabindex="0" style="padding-top: 10px;">{{ top3_group.description }}</div>
                                                <div class="tab-pane fade" id="goals-tab-pane-3" role="tabpanel" aria-labelledby="goals-tab-3" tabindex="0" style="padding-top: 10px;"> {% if top3.group.goal %} {{top3.group.goal}} {% else %} Empty {% endif%}</div>
                                                <div class="tab-pane fade" id="information-tab-pane-3" role="tabpanel" aria-labelledby="information-tab-3" tabindex="0" style="padding-top: 10px;">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">ID: {{ top3_group.id }} </li>
                                                        <li class="list-group-item">Type: {{ top3_group.type }} </li>
                                                        <li class="list-group-item">Created: {{ top3_group.created }} </li>
                                                        <li class="list-group-item">Created by: {{ top3_group.created_by_ref }} </li>
                                                        <li class="list-group-item">Mitre domains: {{ top3_group.x_mitre_domains }} </li>
                                                        <li class="list-group-item">Mitre version: {{ top3_group.x_mitre_version }} </li>
                                                        <li class="list-group-item">Contributors: {% for contributor in top3_group.x_mitre_contributors %} {{ contributor }} {% endfor %}  </li>
                                                    </ul>
                                                </div>
                                              </div>
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        Last modified: {{ top3_group.modified}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Display the predictions in ATT&CK matrix
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>In this section we have enabled the option to visualize the predicted techniques during the
                    analysis phase. </strong> To display them in the matrix, follow the steps below:

                <div class="container text-center">
                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col">
                            <p style="margin-top: 1rem;">1. Download predictions file. You will obtain a file of the
                                techniques predicted during the
                                analysis. </p>
                            <a href="/api/attck-mappings/{{ report_info.id }}?format=json" class="btn btn-primary"
                                style="background-color: #6241C5;">
                                Dowload
                            </a>
                            <p style="margin-top: 1rem;">2. Display the matrix. Clicking on "Display ATT&CK Matrix"
                                button.</p>
                            <p style="margin-top: 1rem;">3. Select "Open Existing Layer" and choose the option "Upload
                                from local".</p>
                            <p style="margin-top: 1rem;">4. A file explorer will appear. Browse for the file downloaded
                                during step 1 and select it.</p>

                        </div>

                        <div class="col-2"></div>
                    </div>
                </div>

                <p>
                    <button id="matrix-button" onclick="changeLabel(this.id)" class="btn btn-primary"
                        style="background-color: #6241C5;" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample" aria-expanded="false"
                        aria-controls="collapseWidthExample">Display ATT&CK Matrix</button>
                </p>
                <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body"">
                                <iframe src=" https://mitre-attack.github.io/attack-navigator/enterprise/" width="auto"
                            height="700"></iframe>
                            <!-- Mitre ATTCK navigator allows you to send the file information through an option called "LayerURL". It cannot be used because CORS is enabled. -->
                            <!-- <iframe src="https://mitre-attack.github.io/attack-navigator/enterprise/#layerURL=https%3A%2F%2Fraw.githubusercontent.com%2Fmitre%2Fattack-navigator%2Fmaster%2Flayers%2Fdata%2Fsamples%2FBear_APT.json&tabs=false&selecting_techniques=false"></iframe> -->
                        </div>
                    </div>
                </div>

            </div>





        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Mitigations
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
          </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            IOC's
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
          </div>
        </div>
    </div>

</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const data = {
        labels: {{ report_TTPs|safe }},
        datasets: [
            {
                label: '1st: {{ top1_group.name }}',
                backgroundColor: 'rgb(255, 0, 0, .3)',
                borderColor: 'rgb(255, 0, 0)',
                data: {{ top1_grooup_TTPs_matched_0or1|safe}} ,
            },
            {
                label: '2nd: {{ top2_group.name }}',
                backgroundColor: 'rgb(0, 255, 0, .3)',
                borderColor: 'rgb(0, 255, 0)',
                data: {{ top2_grooup_TTPs_matched_0or1|safe}},
            },
            {
                label: '3rd: {{ top3_group.name }}',
                backgroundColor: 'rgb(0, 0, 255, .3)',
                borderColor: 'rgb(0, 0, 255)',
                data: {{ top3_grooup_TTPs_matched_0or1|safe}},
            },
        ]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Top 3 most likely groups or intrusion sets'
                }
            },
            scales: {
                y: {
                    min: 0,
                    max: 1,
                    ticks: {
                        stepSize: 1
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "TTPs predicted in the report."
                    }
                }
            }
        },
    };
  </script>
 <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>


{% endblock %}
